# MySQL
MYSQL_CONTAINER_NAME=
DB_ROOT_PASSWORD=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=

# Redis
REDIS_CONTAINER_NAME=
REDIS_PASSWORD=
REDIS_PORT=

# JWT
JWT_SECRET=

# Portone
PORTONE_STORE_ID=
PORTONE_API_SECRET=

# Internal API
INTERNAL_API_SECRET=

# Encryption
ENCRYPTION_SECRET=
