<configuration>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <timeZone>Asia/Seoul</timeZone>
            <customFields>{"service":"auction-service"}</customFields>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
            </throwableConverter>

        </encoder>
    </appender>

    <!-- Spring 로그는 의도적으로 줄임 -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>

</configuration>