<configuration>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"popup-service"}</customFields>
        </encoder>
    </appender>

    <!-- Spring 로그는 의도적으로 줄임 -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>

</configuration>